
.Contacto {
    background-color: #fbe8b4;
    border-radius: 10px;
    width: 100%;
}

.Contacto h6{
    font-weight:600;
}

.Contacto p {
 margin-top:6px;
  margin-bottom: 6px;
}


.borderC{
    border: solid 2px black;
}
