* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    margin: 0;
}

.todo-container {
    display: flex;
    gap: 10px; 
}

.status {
    width: 100%; 
    height: 500px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

    .status h2 {
        margin-top: 0px;
        color: #000000;
        padding: 15px 15px;
        text-align: center;
        font-size: 15px;
        border-radius: 10px;
        
        width: 100%;
    }

.todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    font-size: 15px;
    padding: 11px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #faf1d6;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.fondo1 {
    background-color: #faf1d6;
}

.fondo2 {
    background-color: #f6e7b9;
}

.fondo3 {
    background-color: #eedb9b;
}

.fondo4 {
    background-color: #e9d07f;
}

.fondo3:hover {

    background-color: #eedb9b;
}




.bordeSidebarm {
    border-left: 3px solid #753637;
    border-radius: 0;
}


.SidebarmElemento {
    background: none !important;
    border: none !important;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold !important;
}


.border-custom {
    border: 2px solid #73302c;
    padding: 20px;
    margin: 10px;
}

.border-custom2 {
    border: 2px solid #73302c;
}

.border-custom2:hover {
    border: 2px solid #73302c;
}

.border-custom3 {
    border: 2px solid #73302c;
    padding: 20px;
    margin: 0px 10px 10px 10px;
}

.form-label {
    font-weight: bold;
}

.form-select, .form-control {
    border-color: #73302c;
}

.btn-custom {
    background-color: #ffc107;
    color: #000;
}

/*Notas======================================================================*/
.Nota {
    border: 1px solid #000000;
    border-radius: 10px;
   
}
.DetalleNota {
    font-weight: bold !important;
    font-size: 17px !important;
}

.subNota {
    font-style: italic;
    font-size: 15px
}

.headerForms {
    border-bottom: 3px solid #73302c;
    width: 100%;
    padding-bottom: 4px;
    font-weight: bold;
    margin-bottom: 20px !important;
}

/*Ventana de confirmar=====================================================*/

.ventanaConfirmar-content {
    background-color: #f6e7b9; 
    max-width: 300px;
    margin: auto; 
}

.ventanaConfirmar-header h4 {
    color: #73302c; 
    text-align: center;
}

.ventanaConfirmar-body p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
}

.ventanaConfirmar-footer {
    border-top: none;
    justify-content: center;
}

.btn-ventana {
    color: #73302c;
    font-weight: bold;
   
}

btn-ventana:hover {
    color: #73302c;
    font-weight: bold;
}