body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200%; /* Aumenta el ancho del contenedor en pantallas grandes */
    height: 200%; /* Aumenta el alto del contenedor en pantallas grandes */
    max-width: 100vw; /* Limita el ancho máximo al tamaño de la ventana */
    max-height: 100vh; /* Limita el alto máximo al tamaño de la ventana */
    overflow: hidden; /* Oculta el contenido que desborde el viewport */
    box-sizing: border-box; /* Asegura que el padding y los bordes estén incluidos en el tamaño total */
}


.login-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    box-sizing: border-box; /* Asegura que el padding y los bordes estén incluidos en el tamaño total */
}

h2, h3 {
    margin-top: 0;
    text-align: center;
}
.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}
.form-control {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 18px;
}

.change-password {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}



.btn-primary {
    background-color: #007bff;
}

.options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .options a {
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
    }

.hidden {
    display: none;
}
.incBoton {
    border-radius: 100px;
    border: 5px solid #73302c;
    background: #ddd4ce;
    font-size: 23px;
    color: #403e3d;
    padding: 3px;
    font-weight: bold;
}

    .incBoton:hover {
        border-radius: 100px;
        border: 5px solid #73302c;
        background: #ddd4ce;
        font-size: 23px;
        padding: 3px;
        font-weight: bold;
    }





.remember-password {
    width: 100%;
    
    max-width: 390px;
    margin: 0 auto;
}

@media (max-width: 600px) {
    .container {
        width: 80%; /* Ajusta el contenedor al 80% del viewport en pantallas móviles */
        height: auto; /* Ajusta la altura al contenido en pantallas móviles */
        max-width: none; /* Elimina la restricción de ancho máximo */
        max-height: none; /* Elimina la restricción de alto máximo */
    }

    .login-box {
        width: 100%; /* Ajusta el ancho del login-box al 100% del contenedor en pantallas móviles */
    }
}

.Contacto {
    background-color: red;
    color: aqua;
    border-radius: 10px;
}
